<h1>Introduction</h1>
<p>This project is to show case a problem in dealing with recursive partial calling while using caching.</p>
<p>Say, you need to display comments and their replies upto unknown nesting level, and both have same display structure, Author and Content</p>
<p>You may call the <code>_comments.html.erb</code> within <code>_comments.html.erb</code></p>
<p>This will work perfect in normal case.</p>
<p>What when you decide to implement caching along with this partial?</p>
<p>Well, this demo project is all about it and a work around.</p>
